node_modules/
.env
dist/
build/
target/
src-tauri/binaries/*.exe
packages/back-end/uploads/
packages/app-tauri/src-tauri/pgsql/
packages/app-tauri/src-tauri/binaries/query_engine-windows.dll.node
packages/app-tauri/src-tauri/binaries/schema.prisma
packages/back-end/server.bundle.js
